:root {
    --bg-top: #fff;
    --bg-page: #FFF;
}

body {
    background-color: var(--bg-page);
    font-family: 'Roboto';
}

.vertical-nav {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {

    margin-left: 18%;
    margin-right: 5%;
}

.nav__left {
    background: #FDF1EB;
    height: 68px;
}


.bg-SLACA {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.slaca__logo {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 30px;
    line-height: 35px;
}

.titulo__texto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.subtitulo__texto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #725C5C;
    line-height: 22px;
    margin-bottom: 0px;
}

.assinatura__texto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;


    color: #725C5C;
}


.titulo__principal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    width: 52%;
    letter-spacing: 0.05em;

    color: #ED7839;
}


.nav-item {
    border-bottom: 1px solid #e5e5e5;

}

.topo__topics {
    background: #FDF1EB;
    border: 1px solid #ECECEC;

}

.conteudo__topics {
    width: 18%;

    height: 439px;
    margin-left: 31px;


    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

.conteudo__video {
    width: 100%;
    height: 100%;
}

.texto__lateral {
    font-size: 12px;
}

.citacao__trabalho {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    text-align: right;
    letter-spacing: 0.05em;

    color: #ED7839;
}

.video__youtube {
    width: 783px;
    height: 439px;
}

.box__topicos {
    width: 77%;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

.texto__conteudos {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #5C5C5C;
}

.botao__linguagem {
    width: 97px;
    height: 34px;
    ;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #FDF1EB;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.botao {
    background: #ED7839;
    border-radius: 4px;
    color: #FFF;
    border: none;
}


.pessoa__imagem {
    background: rgb(57, 6, 240);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.texto__usuario, .texto__linguagem {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.texto__email {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

}

.imagem__botoes {
    width: 20px;
    margin-right: 5px;
}

.topicos__titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.compartilhar__ideias {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ED7839;
}

.box__topicos-criados {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 99%;
}
