:root {
    --bg-top: #fff;
    --bg-page: #FFF;
    --bg-slaca-logo: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    --bg-nav-top: #FDF1EB;
    --nav-titulo-cor: #725C5C;
    --fonte-cor-navegacao: #725C5C;
    --titulo-laranja: #ED7839;
    --fonte-cinza: #5C5C5C;
    --botao-laranja: #ED7839;
    --cor-reacoes: #757575;
    --cor-perguntas: #4D4D4D;
    --nav-botao-nav: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

body {
    background-color: var(--bg-page);
}

/* Menus de navegação */

.nav-link.active {
    background-color: #FDF1EB;
    border-left: 5px solid var(--botao-laranja);    
}

.nav__titulo-subtitulo {
    color: var(--nav-titulo-cor);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.bg_slaca-logo {
    background: var(--bg-slaca-logo);
}

.page-content {
    margin-left: 265px;
    margin-right: 45px;
}

.nav-item {
    border-bottom: 1px solid #e5e5e5;
}

.nav__top {
    background: var(--bg-nav-top);
    height: 68px;
}

.nav-link {
    color: var(--fonte-cor-navegacao);
}

.nav-link:hover {
    color: var(--fonte-cor-navegacao);
}

.nav-item:hover {
    background-color: #FDF1EB;
    border-left: 5px solid var(--botao-laranja);
}

.pessoa__imagem {
    background: rgb(57, 6, 240);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    height: 30px;
    margin: 0 auto;
    width: 30px;
}

.slaca__logo {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 2rem;
    line-height: 35px;
}

.slaca__logo:hover {
    color: #FFF;
}


.vertical-nav {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.4s;
    width: 220px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

/* Início da primeira sessão */

.nav__titulo-principal {
    color: var(--nav-titulo-cor);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0px;
}

.nav__titulo-inicial {
    color: var(--nav-titulo-cor);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}

.titulo__principal {
    color: var(--titulo-laranja);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    line-height: 25px;
    margin-right: 30px;
    width: 786px;
}

/* Área Download */

.botoes__laterais {
    margin-top: 20px
}

.botao__download {
    height: 31px;
    width: 120px;
}

.botao__coracao {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    width: 27px;

}

.botao__estrela {
    height: 31px;
    width: 43px;
}

/* Informações laterais */

.texto__lateral {
    color: var(--fonte-cinza);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin: 0px 0px 15px 15px;
}

.citacao__trabalho {
    color: var(--titulo-laranja);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
}

/* Resumo e Detalhes */

.autor__nome {
    color: var(--fonte-cinza);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.box__topicos {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-width: 1058px;
}

.box__respostas {
    background: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    box-sizing: border-box;
    margin: 0px 17px 15px 15px;
    padding: 18px 24px;
    box-shadow: 0px 10px 8px rgb(0 0 0 / 12%);

}

.box__respostas-white {
    background: #FFF;
    border-top: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    box-sizing: border-box;
    margin: 0px 17px 15px 15px;
    padding: 18px 24px;
    box-shadow: 0px 10px 8px rgb(0 0 0 / 12%);
}

.botao__linguagem {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #FDF1EB;
    height: 34px;
    width: 97px;
}

.botao {
    background: var(--botao-laranja);
    border-radius: 4px;
    border: none;
    color: #FFF;
}

.botao_criar {
    color: #FFFFFF;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    height: 32px;
    line-height: 16px;
    margin-bottom: 15px;
    width: 133px;

}

.botao_criar-topico {
    color: #FFFFFF;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    height: 32px;
    width: 235px;
    line-height: 16px;
    margin-bottom: 15px;
}

.box__topicos-criados {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 0px 17px 15px 15px;
    padding: 18px 24px;

}

.texto__aguardando-feedback {
    position: absolute;
    z-index: 2;
    color: #707070;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 66px;
    margin-left: 19%;
    margin-right: 14%;
}

.check__aguardando-feedback {
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 26%;
    margin-right: 14%;
}

.box_topicos-criados:last-child {
    margin: 0px 0px 15px 15px;
}

.background__aprovacao {
    background-color: #E7E7E7;
    filter: blur(3px);
}

.conteudo__topics {
    border-radius: 3px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    margin-left: 31px;
    width: 242px;
}

.conteudo__video {
    height: 100%;
    width: 100%;
}

.compartilhar__ideias {
    color: var(--titulo-laranja);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.esconder__botao {
    display: none;
    ;
}

.formularios {
    Max-width: 1300px;
    Width: 100%
}

.imagem__botoes {
    margin-right: 5px;
    width: 18px;
}

.imagem__compartilhe {
    padding-right: 51px;
}

.more__info:hover {
    cursor: pointer;
}

.notification__badge {
    position: absolute;
    z-index: 2;
    margin-left: 36px;
    margin-top: -29px;
}

.topo__topics {
    background: #FDF1EB;
    border: 1px solid #ECECEC;

}

.texto__conteudos {
    color: var(--fonte-cinza);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
}

.texto__usuario, .texto__linguagem {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.texto__email {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

}

.texto__reacoes {
    color: var(--cor-reacoes);
    cursor: pointer;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
}

.texto__perguntas {
    color: var(--cor-perguntas);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.texto_descubra-trabalhos {
    color: var(--titulo-laranja);
    text-decoration: underline;
}

.texto__editar-topico {
    color: var(--titulo-laranja);
    text-decoration: underline;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 24%;
    margin-right: 14%;

}

.titulo__perguntas {
    color: var(--titulo-laranja);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.topicos__titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.video__youtube {
    height: 439px;
    width: 783px;
}

.ver__mais {
    color: var(--titulo-laranja);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
}


.ver__mais:hover {
    cursor: pointer;
}

#bt_menu {
    display: none;
}

label[for='bt_menu'] {
    padding: 5px;
    background-color: var(--botao-laranja);
    border-radius: 5px;
    color: #fff;
    font-family: 'Arial';
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    display: none;
    width: 43px;
    height: 43px;
}

label[for='bt_menu']:hover {
    background-color: #f4f4f4;
    color: #aaa;
}

footer {
    max-width: 1058px;
}

@media only screen and (max-width: 426px) {

    .menu {
        margin-left: -100%;
        transition: all .4s;
        background-color: white;
    }

    label[for='bt_menu'] {
        display: block;
        margin-left: 87%;
        margin-top: 13px;
        position: absolute;
    }

    #bt_menu:checked~.menu {
        margin-left: 0;
    }

    .logo__slaca {
        display: none;
    }

    .botao__linguagem {
        margin-bottom: 20px;
    }

    .menu__usuario {
        margin-right: 55px;
    }

    .campo__linguagens {
        margin-top: 20px;
    }

}
@media only screen and (max-width: 1270px) {



    .botoes__laterais {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .citacao__trabalho {
        margin-bottom: 0px;
        text-align: center;
    }

    .conteudo__topics {
        border: 1px solid #ECECEC;
        box-sizing: border-box;
        border-radius: 3px;
        margin-left: 0px;
        margin-top: 15px;
        width: 786px;
    }

    .check__aguardando-feedback {
        position: absolute;
        z-index: 2;
        margin-top: 20px;
        margin-left: 41%;
        margin-right: 14%;
    }

    .page-content {
        margin: 10px;
        margin-top: 0px;
    }

    .rodape {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .texto__aguardando-feedback {
        margin-left: 17%;
    }

    .texto__editar-topico {
        margin-top: 118px;
        margin-left: 33%;
    }

    .titulo__principal {
        font-size: 1rem;
        line-height: 26px;
        margin-top: 20px;
        text-align: center;
        margin-right: 8px;
    }

    .titulo__site {
        display: none;
    }

    .menu {
        margin-left: -100%;
        transition: all .4s;
        background-color: white;
    }

    label[for='bt_menu'] {
        display: block;
        margin-left: 88%;
        margin-top: 13px;
        position: absolute;
    }

    #bt_menu:checked~.menu {
        margin-left: 0;
    }

    .botao__linguagem {
        margin-bottom: 20px;
    }

    .menu__usuario {
        margin-right: 55px;
    }

    .campo__linguagens {
        margin-top: 20px;
    }

    .slaca__texto {
        padding: 10px;
    }
}

